.propertyList {
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-between;
  gap: 20px;
}

.proprtyListItems {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.proprtyListItems img {
  object-fit: cover;
  width: 100%;
}

.propertyListTexts h2 {
  margin: 0;
}
